# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
staticfiles/
*.log
local_settings.py
db.sqlite3

# ML models (зберігаємо модель у репо як deliverable)
ml/*.png

# Jupyter
.ipynb_checkpoints/

# Generated images (notebook output)
*.png
!assets/*.png

# Docker volumes / env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Lab explanation
explanation.txt
